nodered/flows.json
[
    {
        "id": "ab09c729ddbc5d2b",
        "type": "tab",
        "label": "Tracking",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd9163014ca32398",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "5d6f05ef90c17f6d"
            ]
        ]
    },
    {
        "id": "135ff4718eb96aef",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 860,
        "y": 560,
        "wires": [
            [
                "a6bb1bdb43326150",
                "91b8dbe38a8fc455",
                "fd9163014ca32398",
                "88f8fd759239145a"
            ]
        ]
    },
    {
        "id": "58df7d171bfac989",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "your_password",
        "passwordFieldType": "str"
    },
    {
        "id": "414dfc96a94d71e0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "523d5ae69d4d2967",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2e42b3502662b12d",
        "type": "ui_group",
        "name": "Projects",
        "tab": "523d5ae69d4d2967",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "900443b7c5e5bf2a",
        "type": "ui_group",
        "name": "New Project",
        "tab": "523d5ae69d4d2967",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6311d57cd4e85433",
        "type": "ui_tab",
        "name": "Tracking",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6eddfd448fd41851",
        "type": "ui_group",
        "name": "Detail",
        "tab": "6311d57cd4e85433",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "60e61f80a5ae1033",
        "type": "ui_group",
        "name": "New Tracking",
        "tab": "6311d57cd4e85433",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e27c2ac7935009d8",
        "type": "ui_group",
        "name": "Overview",
        "tab": "6311d57cd4e85433",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d61146a7a8c0c366",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "6eddfd448fd41851",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "Refresh the Time Tracked in the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "47e920b05b0452a3"
            ]
        ]
    },
    {
        "id": "ae8a9246450d3bc7",
        "type": "postgresql",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "query": "",
        "postgreSQLConfig": "58df7d171bfac989",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "0b41b15fa9c996ac"
            ]
        ]
    },
    {
        "id": "ada512396658a6de",
        "type": "ui_table",
        "z": "ab09c729ddbc5d2b",
        "group": "6eddfd448fd41851",
        "name": "Detail",
        "order": 2,
        "width": 12,
        "height": 6,
        "columns": [
            {
                "field": "project_name",
                "title": "Project",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "working_time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "calendar_week",
                "title": "KW",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "start",
                "title": "Start",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "end",
                "title": "End",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b39fed3384ce09b",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "6eddfd448fd41851",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Add",
        "tooltip": "Add a new Project to the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-plus",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "3f7defbbf5dec990",
                "63c4d52d5d73ec84"
            ]
        ]
    },
    {
        "id": "97a76c8a6628f221",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "60e61f80a5ae1033",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save the new project",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-save",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "cc8b35f14e252016"
            ]
        ]
    },
    {
        "id": "cc8b35f14e252016",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "Insert Project",
        "func": "const start = flow.get(\"start\")\nconst end = flow.get(\"end\")\nconst project_id = flow.get(\"project_id\")\n\nmsg.query = `insert into tbltime (\"project_id\", \"start\", \"end\")\nvalues (${project_id}, to_timestamp(${start} / 1000), to_timestamp(${end} / 1000))`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "cf732d968b88a1d6"
            ]
        ]
    },
    {
        "id": "cf732d968b88a1d6",
        "type": "postgresql",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "query": "",
        "postgreSQLConfig": "58df7d171bfac989",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 560,
        "wires": [
            [
                "c07026a022d81e26",
                "41a465110d7b08b5",
                "47e920b05b0452a3",
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "5a61ce3c4c57f4e8",
        "type": "ui_ui_control",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3f7defbbf5dec990",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Tracking_New_Tracking\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "5a61ce3c4c57f4e8"
            ]
        ]
    },
    {
        "id": "c07026a022d81e26",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Tracking_New_Tracking\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 560,
        "wires": [
            [
                "5a61ce3c4c57f4e8"
            ]
        ]
    },
    {
        "id": "78ab10ace9cbd062",
        "type": "ui_text_input",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Start",
        "tooltip": "Work start time",
        "group": "60e61f80a5ae1033",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "21400360411044e4"
            ]
        ]
    },
    {
        "id": "21400360411044e4",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 660,
        "wires": [
            [
                "0e63c30350e9e6e7"
            ]
        ]
    },
    {
        "id": "25bfb7699557d53e",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "c07026a022d81e26"
            ]
        ]
    },
    {
        "id": "41a465110d7b08b5",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 660,
        "wires": [
            [
                "78ab10ace9cbd062",
                "0e63c30350e9e6e7"
            ]
        ]
    },
    {
        "id": "0e63c30350e9e6e7",
        "type": "ui_text_input",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "End",
        "tooltip": "Work end time",
        "group": "60e61f80a5ae1033",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 430,
        "y": 720,
        "wires": [
            [
                "7310b3277a12d986"
            ]
        ]
    },
    {
        "id": "7310b3277a12d986",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "end",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "1c967d29b8429977",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "cc8b35f14e252016"
            ]
        ]
    },
    {
        "id": "7c80175cee48629c",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "e27c2ac7935009d8",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "Refresh the Time Tracked in the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "d31b2b09a48d9236",
        "type": "postgresql",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "query": "",
        "postgreSQLConfig": "58df7d171bfac989",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "3793a5d927c15ee5"
            ]
        ]
    },
    {
        "id": "f11e92424e01bdf2",
        "type": "ui_table",
        "z": "ab09c729ddbc5d2b",
        "group": "e27c2ac7935009d8",
        "name": "Overview",
        "order": 2,
        "width": 6,
        "height": 6,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "f37792554d479b73",
        "type": "ui_dropdown",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Project",
        "tooltip": "Project to write time to",
        "place": "Select option",
        "group": "60e61f80a5ae1033",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 580,
        "y": 880,
        "wires": [
            [
                "b4f812e42e31769e"
            ]
        ]
    },
    {
        "id": "8e60fccf1c087e56",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "select * from tblprojects",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "43b3804b4aae6d8c"
            ]
        ]
    },
    {
        "id": "43b3804b4aae6d8c",
        "type": "postgresql",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "query": "",
        "postgreSQLConfig": "58df7d171bfac989",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "d5631e9e7762fb5c"
            ]
        ]
    },
    {
        "id": "91708ab71f2576a3",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "8e60fccf1c087e56"
            ]
        ]
    },
    {
        "id": "d5631e9e7762fb5c",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "dropdown adapter",
        "func": "const inp = msg.payload;\n\nvar options = []\n\nfor (let option of inp) {\n    options.push({[option[\"name\"]]: parseInt(option[\"id\"])})\n}\n\nmsg.options = options\n\nmsg.payload = Object.values(options[0])[0]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 880,
        "wires": [
            [
                "f37792554d479b73"
            ]
        ]
    },
    {
        "id": "b4f812e42e31769e",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "project_id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "7ab153e939140284",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "47e920b05b0452a3",
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "0b41b15fa9c996ac",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "parseData",
        "func": "const inp = msg.payload;\n\nfor (let i in inp) {\n    // Time\n    inp[i][\"start\"] = inp[i][\"start\"].toLocaleString(\"de-CH\")\n    inp[i][\"end\"] = inp[i][\"end\"].toLocaleString(\"de-CH\")\n\n    // Working Time\n    inp[i][\"working_time\"] = parseFloat(inp[i][\"working_time\"])\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 160,
        "wires": [
            [
                "ada512396658a6de"
            ]
        ]
    },
    {
        "id": "3793a5d927c15ee5",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "parseData",
        "func": "const inp = msg.payload;\n\nfor (let i in inp) {\n    // Working Time\n    inp[i][\"time\"] = parseFloat(inp[i][\"time\"])\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 80,
        "wires": [
            [
                "f11e92424e01bdf2"
            ]
        ]
    },
    {
        "id": "f4fde1f6bcea4fd3",
        "type": "ui_text_input",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Calendar Week",
        "tooltip": "Filter for the currently displayed calendar week",
        "group": "6eddfd448fd41851",
        "order": 1,
        "width": 12,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 1160,
        "wires": [
            [
                "36d62a7d56118351"
            ]
        ]
    },
    {
        "id": "36d62a7d56118351",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filter.calendar_week",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1160,
        "wires": [
            [
                "47e920b05b0452a3"
            ]
        ]
    },
    {
        "id": "47e920b05b0452a3",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "detailRequest",
        "func": "const filter = flow.get(\"filter\")\n\n// Query without filter\nmsg.query = `\nselect tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (week from start) as \"calendar_week\"\nfrom tbltime\nleft join tblprojects on tblprojects.id = tbltime.project_id`\n\nif (filter === undefined) {\n    return msg;\n}\n\nif (filter[\"calendar_week\"] === null) {\n    return msg;\n}\n\nmsg.query = `\nselect tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (week from start) as \"calendar_week\"\nfrom tbltime\nleft join tblprojects on tblprojects.id = tbltime.project_id\nwhere extract (week from start) = ${filter[\"calendar_week\"]}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ae8a9246450d3bc7"
            ]
        ]
    },
    {
        "id": "c8936184f999a438",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "overviewRequest",
        "func": "const grouping = flow.get(\"grouping\")\nmsg.query = `\nselect calendar_week AS KW, sum(working_time) AS Time\nfrom (\n    select tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (week from start) as \"calendar_week\"\n    from tbltime left join tblprojects on tblprojects.id = tbltime.project_id\n)\ngroup by calendar_week order by calendar_week DESC\n`\n\nif (grouping === 1) {\n    msg.query = `\n    select \"day_of_year\" AS DOY, sum(\"working_time\") AS Time\n    from (\n        select tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (DOY from start) as \"day_of_year\"\n        from tbltime left join tblprojects on tblprojects.id = tbltime.project_id\n    )\n    group by \"day_of_year\" order by \"day_of_year\" DESC\n    `\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "d31b2b09a48d9236"
            ]
        ]
    },
    {
        "id": "63c4d52d5d73ec84",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "setCurrentDate",
        "func": "msg.payload = new Date(new Date().getTime() + 2 * 60 * 60 * 1000)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 720,
        "wires": [
            [
                "0e63c30350e9e6e7",
                "78ab10ace9cbd062"
            ]
        ]
    },
    {
        "id": "db991fb196015e22",
        "type": "ui_dropdown",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Grouping",
        "tooltip": "Grouping to use",
        "place": "Select option",
        "group": "e27c2ac7935009d8",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Calendar Week",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Day of Year",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "b9467be3c8b33b11"
            ]
        ]
    },
    {
        "id": "b9467be3c8b33b11",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "grouping",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1260,
        "wires": [
            [
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "dbcd0e660579693e",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "db991fb196015e22"
            ]
        ]
    },
    {
        "id": "dee22348bf8df201",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "fd9163014ca32398"
            ]
        ]
    },
    {
        "id": "c00c50456a1915d8",
        "type": "ui_table",
        "z": "f6f2187d.f17ca8",
        "group": "2e42b3502662b12d",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 4,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "078d5327d9b75a22"
            ]
        ]
    },
    {
        "id": "0eb4d6c86e075d0a",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "2e42b3502662b12d",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "Refresh the Projects in the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "fd9163014ca32398"
            ]
        ]
    },
    {
        "id": "72d420bd07620643",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "2e42b3502662b12d",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Add",
        "tooltip": "Add a new Project to the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-plus",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "e191b530b175f942"
            ]
        ]
    },
    {
        "id": "6c45d91365f6410b",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "900443b7c5e5bf2a",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save the new project",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-save",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "05dac56d14a61209"
            ]
        ]
    },
    {
        "id": "05dac56d14a61209",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Insert Project",
        "func": "const project_name = flow.get(\"project_name\")\nconst project_number = flow.get(\"project_number\")\n\nmsg.payload = {\"name\":project_name,\"project_nr\":project_number}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            [
                "870f0087bde96e3d"
            ]
        ]
    },
    {
        "id": "b62d768206a848b3",
        "type": "ui_ui_control",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e191b530b175f942",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Settings_New_Project\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "b62d768206a848b3"
            ]
        ]
    },
    {
        "id": "91b8dbe38a8fc455",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Settings_New_Project\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "b62d768206a848b3"
            ]
        ]
    },
    {
        "id": "8b1bed10ebd785d3",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Project Name",
        "tooltip": "The name of the project",
        "group": "900443b7c5e5bf2a",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 520,
        "y": 660,
        "wires": [
            [
                "e4caab3bea0c5ccb"
            ]
        ]
    },
    {
        "id": "e4caab3bea0c5ccb",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "project_name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "93a78d19f6c19f29",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "91b8dbe38a8fc455"
            ]
        ]
    },
    {
        "id": "a6bb1bdb43326150",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "8b1bed10ebd785d3"
            ]
        ]
    },
    {
        "id": "078d5327d9b75a22",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d6f05ef90c17f6d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://backend:80/projects",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "c00c50456a1915d8"
            ]
        ]
    },
    {
        "id": "870f0087bde96e3d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://backend:80/projects",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 560,
        "wires": [
            [
                "d9c1f31e55e90846"
            ]
        ]
    },
    {
        "id": "d9c1f31e55e90846",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 560,
        "wires": [
            [
                "135ff4718eb96aef"
            ],
            [
                "9d84062f642dc16e",
                "fa66a4e76dc1f502"
            ]
        ]
    },
    {
        "id": "cc286c26258ddca7",
        "type": "ui_toast",
        "z": "f6f2187d.f17ca8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1230,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9d84062f642dc16e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.detail[0].msg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "cc286c26258ddca7"
            ]
        ]
    },
    {
        "id": "fa66a4e76dc1f502",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "88f8fd759239145a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "e26849230bcea553"
            ]
        ]
    },
    {
        "id": "e26849230bcea553",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Project Number",
        "tooltip": "The name of the project",
        "group": "900443b7c5e5bf2a",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 520,
        "y": 740,
        "wires": [
            [
                "9dec9a992445a6f0"
            ]
        ]
    },
    {
        "id": "9dec9a992445a6f0",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "project_number",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2de3844a924d7af4",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4",
            "node-red-dashboard": "3.6.6",
            "node-red-node-ui-table": "0.4.5"
        }
    }
]