nodered/flows.json
[
    {
        "id": "ab09c729ddbc5d2b",
        "type": "tab",
        "label": "Tracking",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "44cdabf9d1588c75",
        "type": "tab",
        "label": "Agent",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd9163014ca32398",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "5d6f05ef90c17f6d"
            ]
        ]
    },
    {
        "id": "135ff4718eb96aef",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 860,
        "y": 560,
        "wires": [
            [
                "a6bb1bdb43326150",
                "91b8dbe38a8fc455",
                "fd9163014ca32398",
                "88f8fd759239145a"
            ]
        ]
    },
    {
        "id": "58df7d171bfac989",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "your_password",
        "passwordFieldType": "str"
    },
    {
        "id": "414dfc96a94d71e0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "523d5ae69d4d2967",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2e42b3502662b12d",
        "type": "ui_group",
        "name": "Projects",
        "tab": "523d5ae69d4d2967",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "900443b7c5e5bf2a",
        "type": "ui_group",
        "name": "New Project",
        "tab": "523d5ae69d4d2967",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6311d57cd4e85433",
        "type": "ui_tab",
        "name": "Tracking",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6eddfd448fd41851",
        "type": "ui_group",
        "name": "Detail",
        "tab": "6311d57cd4e85433",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "60e61f80a5ae1033",
        "type": "ui_group",
        "name": "New Tracking",
        "tab": "6311d57cd4e85433",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e27c2ac7935009d8",
        "type": "ui_group",
        "name": "Overview",
        "tab": "6311d57cd4e85433",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6447a39e5d789f8e",
        "type": "ui_group",
        "name": "Description",
        "tab": "6311d57cd4e85433",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6175b0526f8d2ee2",
        "type": "ui_group",
        "name": "Calendar Week",
        "tab": "6311d57cd4e85433",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d61146a7a8c0c366",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "6eddfd448fd41851",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "Refresh the Time Tracked in the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "47e920b05b0452a3"
            ]
        ]
    },
    {
        "id": "ae8a9246450d3bc7",
        "type": "postgresql",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "query": "",
        "postgreSQLConfig": "58df7d171bfac989",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "0b41b15fa9c996ac"
            ]
        ]
    },
    {
        "id": "ada512396658a6de",
        "type": "ui_table",
        "z": "ab09c729ddbc5d2b",
        "group": "6eddfd448fd41851",
        "name": "Detail",
        "order": 2,
        "width": 12,
        "height": 6,
        "columns": [
            {
                "field": "project_name",
                "title": "Project",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "working_time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "calendar_week",
                "title": "KW",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "start",
                "title": "Start",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "end",
                "title": "End",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "description",
                "title": "Description",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b39fed3384ce09b",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "6eddfd448fd41851",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Add",
        "tooltip": "Add a new Project to the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-plus",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "3f7defbbf5dec990",
                "63c4d52d5d73ec84",
                "838fe4cec443e945"
            ]
        ]
    },
    {
        "id": "97a76c8a6628f221",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "60e61f80a5ae1033",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save the new project",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-save",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "cc8b35f14e252016"
            ]
        ]
    },
    {
        "id": "cc8b35f14e252016",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "Insert Project",
        "func": "const start = flow.get(\"start\")\nconst end = flow.get(\"end\")\nconst project_id = flow.get(\"project_id\")\nconst description = flow.get(\"description\")\n\nif (description !== \"\") {\n    msg.query = `insert into tbltime (\"project_id\", \"start\", \"end\", \"description\")\n    values (${project_id}, to_timestamp(${start} / 1000), to_timestamp(${end} / 1000), '${description}')`\n} else {\n    msg.query = `insert into tbltime (\"project_id\", \"start\", \"end\")\n    values (${project_id}, to_timestamp(${start} / 1000), to_timestamp(${end} / 1000))`\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "cf732d968b88a1d6"
            ]
        ]
    },
    {
        "id": "cf732d968b88a1d6",
        "type": "postgresql",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "query": "",
        "postgreSQLConfig": "58df7d171bfac989",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 560,
        "wires": [
            [
                "c07026a022d81e26",
                "41a465110d7b08b5",
                "47e920b05b0452a3",
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "5a61ce3c4c57f4e8",
        "type": "ui_ui_control",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3f7defbbf5dec990",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Tracking_New_Tracking\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "5a61ce3c4c57f4e8"
            ]
        ]
    },
    {
        "id": "c07026a022d81e26",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Tracking_New_Tracking\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 560,
        "wires": [
            [
                "5a61ce3c4c57f4e8"
            ]
        ]
    },
    {
        "id": "78ab10ace9cbd062",
        "type": "ui_text_input",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Start",
        "tooltip": "Work start time",
        "group": "60e61f80a5ae1033",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "21400360411044e4"
            ]
        ]
    },
    {
        "id": "21400360411044e4",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 660,
        "wires": [
            [
                "0e63c30350e9e6e7"
            ]
        ]
    },
    {
        "id": "25bfb7699557d53e",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "c07026a022d81e26"
            ]
        ]
    },
    {
        "id": "41a465110d7b08b5",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 660,
        "wires": [
            [
                "78ab10ace9cbd062",
                "0e63c30350e9e6e7"
            ]
        ]
    },
    {
        "id": "0e63c30350e9e6e7",
        "type": "ui_text_input",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "End",
        "tooltip": "Work end time",
        "group": "60e61f80a5ae1033",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 430,
        "y": 720,
        "wires": [
            [
                "7310b3277a12d986"
            ]
        ]
    },
    {
        "id": "7310b3277a12d986",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "end",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "1c967d29b8429977",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "cc8b35f14e252016"
            ]
        ]
    },
    {
        "id": "7c80175cee48629c",
        "type": "ui_button",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "group": "e27c2ac7935009d8",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "Refresh the Time Tracked in the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "d31b2b09a48d9236",
        "type": "postgresql",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "query": "",
        "postgreSQLConfig": "58df7d171bfac989",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "3793a5d927c15ee5"
            ]
        ]
    },
    {
        "id": "f11e92424e01bdf2",
        "type": "ui_table",
        "z": "ab09c729ddbc5d2b",
        "group": "e27c2ac7935009d8",
        "name": "Overview",
        "order": 2,
        "width": 6,
        "height": 6,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "0f4a65295751512a"
            ]
        ]
    },
    {
        "id": "f37792554d479b73",
        "type": "ui_dropdown",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Project",
        "tooltip": "Project to write time to",
        "place": "Select option",
        "group": "60e61f80a5ae1033",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 580,
        "y": 880,
        "wires": [
            [
                "b4f812e42e31769e"
            ]
        ]
    },
    {
        "id": "91708ab71f2576a3",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "dc4017a1afbcc696"
            ]
        ]
    },
    {
        "id": "d5631e9e7762fb5c",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "dropdown adapter",
        "func": "const inp = msg.payload;\n\nvar options = []\n\nfor (let option of inp) {\n    options.push({[option[\"name\"]]: parseInt(option[\"id\"])})\n}\n\nmsg.options = options\n\nmsg.payload = Object.values(options[0])[0]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 880,
        "wires": [
            [
                "f37792554d479b73"
            ]
        ]
    },
    {
        "id": "b4f812e42e31769e",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "project_id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "7ab153e939140284",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "47e920b05b0452a3",
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "0b41b15fa9c996ac",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "parseData",
        "func": "const inp = msg.payload;\n\nfor (let i in inp) {\n    // Time\n    inp[i][\"start\"] = inp[i][\"start\"].toLocaleString(\"de-CH\")\n    inp[i][\"end\"] = inp[i][\"end\"].toLocaleString(\"de-CH\")\n\n    // Working Time\n    inp[i][\"working_time\"] = parseFloat(inp[i][\"working_time\"])\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 160,
        "wires": [
            [
                "ada512396658a6de"
            ]
        ]
    },
    {
        "id": "3793a5d927c15ee5",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "parseData",
        "func": "const inp = msg.payload;\n\nfor (let i in inp) {\n    // Working Time\n    inp[i][\"time\"] = parseFloat(inp[i][\"time\"])\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 80,
        "wires": [
            [
                "f11e92424e01bdf2"
            ]
        ]
    },
    {
        "id": "f4fde1f6bcea4fd3",
        "type": "ui_text_input",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Calendar Week",
        "tooltip": "Filter for the currently displayed calendar week",
        "group": "6eddfd448fd41851",
        "order": 1,
        "width": 12,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 1160,
        "wires": [
            [
                "36d62a7d56118351"
            ]
        ]
    },
    {
        "id": "36d62a7d56118351",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filter.calendar_week",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1160,
        "wires": [
            [
                "47e920b05b0452a3"
            ]
        ]
    },
    {
        "id": "47e920b05b0452a3",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "detailRequest",
        "func": "const filter = flow.get(\"filter\")\n\n// Query without filter\nmsg.query = `\nselect tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (week from start) as \"calendar_week\", tbltime.description\nfrom tbltime\nleft join tblprojects on tblprojects.id = tbltime.project_id`\n\nif (filter === undefined) {\n    return msg;\n}\n\nif (filter[\"calendar_week\"] === null) {\n    return msg;\n}\n\nmsg.query = `\nselect tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (week from start) as \"calendar_week\", tbltime.description\nfrom tbltime\nleft join tblprojects on tblprojects.id = tbltime.project_id\nwhere extract (week from start) = ${filter[\"calendar_week\"]}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ae8a9246450d3bc7"
            ]
        ]
    },
    {
        "id": "c8936184f999a438",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "overviewRequest",
        "func": "const grouping = flow.get(\"grouping\")\nmsg.query = `\nselect calendar_week AS KW, sum(working_time) AS Time\nfrom (\n    select tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (week from start) as \"calendar_week\"\n    from tbltime left join tblprojects on tblprojects.id = tbltime.project_id\n)\ngroup by calendar_week order by calendar_week DESC\n`\n\nif (grouping === 1) {\n    msg.query = `\n    select \"day_of_year\" AS DOY, sum(\"working_time\") AS Time\n    from (\n        select tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (DOY from start) as \"day_of_year\"\n        from tbltime left join tblprojects on tblprojects.id = tbltime.project_id\n    )\n    group by \"day_of_year\" order by \"day_of_year\" DESC\n    `\n}\n\nif (grouping === 2) {\n    msg.query = `\n    select \"project_name\", sum(\"working_time\") AS Time\n    from (\n        select tbltime.id, tblprojects.name as \"project_name\", \"start\", \"end\", extract(epoch from \"end\"-\"start\") / 3600 as \"working_time\", extract (DOY from start) as \"day_of_year\"\n        from tbltime left join tblprojects on tblprojects.id = tbltime.project_id\n    )\n    group by \"project_name\"\n    `\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "d31b2b09a48d9236"
            ]
        ]
    },
    {
        "id": "63c4d52d5d73ec84",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "setCurrentDate",
        "func": "msg.payload = new Date(new Date().getTime() + 2 * 60 * 60 * 1000)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 720,
        "wires": [
            [
                "0e63c30350e9e6e7",
                "78ab10ace9cbd062"
            ]
        ]
    },
    {
        "id": "db991fb196015e22",
        "type": "ui_dropdown",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Grouping",
        "tooltip": "Grouping to use",
        "place": "Select option",
        "group": "e27c2ac7935009d8",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Calendar Week",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Day of Year",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Project",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "b9467be3c8b33b11"
            ]
        ]
    },
    {
        "id": "b9467be3c8b33b11",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "grouping",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1260,
        "wires": [
            [
                "c8936184f999a438"
            ]
        ]
    },
    {
        "id": "dbcd0e660579693e",
        "type": "inject",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "db991fb196015e22"
            ]
        ]
    },
    {
        "id": "65d6afba143d1b8d",
        "type": "debug",
        "z": "ab09c729ddbc5d2b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1000,
        "wires": []
    },
    {
        "id": "dc4017a1afbcc696",
        "type": "http request",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://backend:80/projects",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "d5631e9e7762fb5c",
                "65d6afba143d1b8d"
            ]
        ]
    },
    {
        "id": "5a32812ca3b61adc",
        "type": "ui_text_input",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "label": "Description",
        "tooltip": "",
        "group": "60e61f80a5ae1033",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 800,
        "wires": [
            [
                "5b5bbc7faef3aac5"
            ]
        ]
    },
    {
        "id": "838fe4cec443e945",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 800,
        "wires": [
            [
                "5a32812ca3b61adc"
            ]
        ]
    },
    {
        "id": "5b5bbc7faef3aac5",
        "type": "change",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "description",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0f4a65295751512a",
        "type": "function",
        "z": "ab09c729ddbc5d2b",
        "name": "function 5",
        "func": "const inp = msg.payload;\n\nif (!(\"kw\" in inp)) {\n    return null;\n}\n\nmsg.url = `http://host.docker.internal:8000/time/project?calendar_week=${inp.kw}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "f622be2eb401768e"
            ]
        ]
    },
    {
        "id": "f622be2eb401768e",
        "type": "http request",
        "z": "ab09c729ddbc5d2b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 80,
        "wires": [
            [
                "81ec602561ee12f5"
            ]
        ]
    },
    {
        "id": "81ec602561ee12f5",
        "type": "ui_table",
        "z": "ab09c729ddbc5d2b",
        "group": "6175b0526f8d2ee2",
        "name": "KW Overview",
        "order": 2,
        "width": 6,
        "height": 6,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1680,
        "y": 80,
        "wires": []
    },
    {
        "id": "dee22348bf8df201",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "fd9163014ca32398"
            ]
        ]
    },
    {
        "id": "c00c50456a1915d8",
        "type": "ui_table",
        "z": "f6f2187d.f17ca8",
        "group": "2e42b3502662b12d",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 4,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "078d5327d9b75a22"
            ]
        ]
    },
    {
        "id": "0eb4d6c86e075d0a",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "2e42b3502662b12d",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "Refresh the Projects in the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "fd9163014ca32398"
            ]
        ]
    },
    {
        "id": "72d420bd07620643",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "2e42b3502662b12d",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Add",
        "tooltip": "Add a new Project to the Database",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-plus",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "e191b530b175f942"
            ]
        ]
    },
    {
        "id": "6c45d91365f6410b",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "900443b7c5e5bf2a",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save the new project",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-save",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "05dac56d14a61209"
            ]
        ]
    },
    {
        "id": "05dac56d14a61209",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Insert Project",
        "func": "const project_name = flow.get(\"project_name\")\nconst project_number = flow.get(\"project_number\")\n\nmsg.payload = {\"name\":project_name,\"project_nr\":project_number}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            [
                "870f0087bde96e3d"
            ]
        ]
    },
    {
        "id": "b62d768206a848b3",
        "type": "ui_ui_control",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e191b530b175f942",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Settings_New_Project\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "b62d768206a848b3"
            ]
        ]
    },
    {
        "id": "91b8dbe38a8fc455",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Settings_New_Project\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "b62d768206a848b3"
            ]
        ]
    },
    {
        "id": "8b1bed10ebd785d3",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Project Name",
        "tooltip": "The name of the project",
        "group": "900443b7c5e5bf2a",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 520,
        "y": 660,
        "wires": [
            [
                "e4caab3bea0c5ccb"
            ]
        ]
    },
    {
        "id": "e4caab3bea0c5ccb",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "project_name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "93a78d19f6c19f29",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "91b8dbe38a8fc455"
            ]
        ]
    },
    {
        "id": "a6bb1bdb43326150",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "8b1bed10ebd785d3"
            ]
        ]
    },
    {
        "id": "078d5327d9b75a22",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d6f05ef90c17f6d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://backend:80/projects",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "c00c50456a1915d8"
            ]
        ]
    },
    {
        "id": "870f0087bde96e3d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://backend:80/projects",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 560,
        "wires": [
            [
                "d9c1f31e55e90846"
            ]
        ]
    },
    {
        "id": "d9c1f31e55e90846",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 560,
        "wires": [
            [
                "135ff4718eb96aef"
            ],
            [
                "9d84062f642dc16e",
                "fa66a4e76dc1f502"
            ]
        ]
    },
    {
        "id": "cc286c26258ddca7",
        "type": "ui_toast",
        "z": "f6f2187d.f17ca8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1230,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9d84062f642dc16e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.detail[0].msg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "cc286c26258ddca7"
            ]
        ]
    },
    {
        "id": "fa66a4e76dc1f502",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "88f8fd759239145a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "e26849230bcea553"
            ]
        ]
    },
    {
        "id": "e26849230bcea553",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Project Number",
        "tooltip": "The name of the project",
        "group": "900443b7c5e5bf2a",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 520,
        "y": 740,
        "wires": [
            [
                "9dec9a992445a6f0"
            ]
        ]
    },
    {
        "id": "9dec9a992445a6f0",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "project_number",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "397f0440df61b4b0",
        "type": "inject",
        "z": "44cdabf9d1588c75",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "38b9bf0138d6efed"
            ]
        ]
    },
    {
        "id": "5ee45b6e820e5ed1",
        "type": "http request",
        "z": "44cdabf9d1588c75",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 100,
        "wires": [
            [
                "931ccf69ac7337d5"
            ]
        ]
    },
    {
        "id": "4400c5038f420b00",
        "type": "debug",
        "z": "44cdabf9d1588c75",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "38b9bf0138d6efed",
        "type": "function",
        "z": "44cdabf9d1588c75",
        "name": "function 1",
        "func": "const inp = msg.payload\n\nconst system_prompt = `\nThe user will give you a list of tasks he finished in the last working time period.\nReturn a short sentence summary of what the did.\nDo not add any additional information or try to define any word or topic.\n`\n\nmsg.payload = {\n    \"model\": \"google/gemma-3n-e4b\",\n    \"messages\": [ \n      { \"role\": \"system\", \"content\": system_prompt},\n      { \"role\": \"user\", \"content\": inp.join('\\n')}\n    ], \n    \"temperature\": 0.1, \n    \"max_tokens\": -1,\n    \"stream\": false\n  };\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "5ee45b6e820e5ed1"
            ]
        ]
    },
    {
        "id": "931ccf69ac7337d5",
        "type": "function",
        "z": "44cdabf9d1588c75",
        "name": "function 2",
        "func": "const inp = msg.payload.choices[0].message.content\n\nfunction extractNonThinkingMessage(text) {\n  // Removes the <think>...</think> tags and their content\n  return text.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n}\n\nmsg.payload = extractNonThinkingMessage(inp)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            [
                "4400c5038f420b00",
                "b081aabb4c922c50"
            ]
        ]
    },
    {
        "id": "96cffe3ba9be0162",
        "type": "http request",
        "z": "44cdabf9d1588c75",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 400,
        "wires": [
            [
                "5960ba31a728233a"
            ]
        ]
    },
    {
        "id": "d6e733f64b0a561f",
        "type": "inject",
        "z": "44cdabf9d1588c75",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "00c8ae72af18f7a2"
            ]
        ]
    },
    {
        "id": "01c6de83b3a91ab6",
        "type": "debug",
        "z": "44cdabf9d1588c75",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "00c8ae72af18f7a2",
        "type": "function",
        "z": "44cdabf9d1588c75",
        "name": "function 3",
        "func": "const start = flow.get(\"start\") || null\nconst end = flow.get(\"end\") || null\n\nif (start !== null && end !== null) {\n    msg.url = `http://host.docker.internal:8000/time/?start_date=${new Date(start).toISOString().split('T')[0]}&end_date=${new Date(end).toISOString().split('T')[0]}`\n    return msg;\n}\n\nif (start !== null) {\n    msg.url = `http://host.docker.internal:8000/time/?start_date=${new Date(start).toISOString().split('T')[0]}`\n    return msg;\n}\n\nif (end !== null) {\n    msg.url = `http://host.docker.internal:8000/time/?end_date=${new Date(start).toISOString().split('T')[0]}`\n    return msg;\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "96cffe3ba9be0162"
            ]
        ]
    },
    {
        "id": "4d327ce2264b9348",
        "type": "function",
        "z": "44cdabf9d1588c75",
        "name": "function 4",
        "func": "const inp = msg.payload\n\nvar descriptions = []\n\nfor (let task of inp) {\n    if (task.description === null) {\n        continue\n    }\n\n    if (descriptions.includes(task.description)) {\n        continue\n    }\n\n    descriptions.push(task.description)\n}\nmsg.payload = descriptions\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 500,
        "wires": [
            [
                "01c6de83b3a91ab6",
                "38b9bf0138d6efed"
            ]
        ]
    },
    {
        "id": "5960ba31a728233a",
        "type": "change",
        "z": "44cdabf9d1588c75",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "4d327ce2264b9348"
            ]
        ]
    },
    {
        "id": "b081aabb4c922c50",
        "type": "ui_template",
        "z": "44cdabf9d1588c75",
        "group": "6447a39e5d789f8e",
        "name": "",
        "order": 4,
        "width": 6,
        "height": 4,
        "format": "<!-- Node-RED ui_template: display text + copy button -->\n<div class=\"nr-copy-card\">\n  <div class=\"nr-copy-text\" id=\"nr-copy-text\">{{text}}</div>\n  <div class=\"nr-copy-actions\">\n    <button class=\"nr-copy-btn\" ng-click=\"copy()\" ng-disabled=\"!text\">Copy</button>\n    <span class=\"nr-copy-feedback\" ng-show=\"copied\">Copied </span>\n  </div>\n</div>\n\n<style>\n  .nr-copy-card {\n    display: flex;\n    flex-direction: column;\n    gap: 8px;\n    padding: 10px;\n    border-radius: 6px;\n    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);\n    background: #fff;\n    min-width: 200px;\n  }\n\n  .nr-copy-text {\n    white-space: pre-wrap;\n    /* preserve newlines */\n    word-wrap: break-word;\n    font-family: inherit;\n    font-size: 14px;\n    color: #222;\n    padding: 6px;\n    border-radius: 4px;\n    border: 1px solid #eee;\n    background: #fafafa;\n    min-height: 36px;\n  }\n\n  .nr-copy-actions {\n    display: flex;\n    align-items: center;\n    gap: 8px;\n  }\n\n  .nr-copy-btn {\n    padding: 6px 10px;\n    border-radius: 4px;\n    border: 1px solid #bbb;\n    background: #f4f4f4;\n    cursor: pointer;\n  }\n\n  .nr-copy-btn[ng-disabled] {\n    opacity: 0.5;\n    cursor: not-allowed;\n  }\n\n  .nr-copy-feedback {\n    color: #0a0;\n    font-size: 13px;\n  }\n</style>\n\n<script>\n  (function(scope) {\n  // initial value (in case you want a static default)\n  scope.text = (scope.msg && (scope.msg.payload || scope.msg.payload === 0)) ? scope.msg.payload : '';\n\n  // Watch for incoming messages (update displayed text when msg arrives)\n  scope.$watch('msg', function(msg) {\n    if (!msg) return;\n    // Use msg.payload (string or convertable)\n    if (typeof msg.payload === 'object') {\n      try {\n        scope.text = JSON.stringify(msg.payload, null, 2);\n      } catch (e) {\n        scope.text = String(msg.payload);\n      }\n    } else {\n      scope.text = (msg.payload === null || msg.payload === undefined) ? '' : String(msg.payload);\n    }\n  });\n\n  // copy function: try navigator.clipboard, fallback to textarea + execCommand\n  scope.copy = function() {\n    if (!scope.text) return;\n    var textToCopy = scope.text;\n\n    // Preferred modern API\n    if (navigator && navigator.clipboard && navigator.clipboard.writeText) {\n      navigator.clipboard.writeText(textToCopy).then(function() {\n        showCopied();\n      }).catch(function() {\n        fallbackCopy(textToCopy);\n      });\n    } else {\n      fallbackCopy(textToCopy);\n    }\n  };\n\n  function fallbackCopy(str) {\n    try {\n      var ta = document.createElement('textarea');\n      ta.value = str;\n      // prevent page scroll/visual flash\n      ta.style.position = 'fixed';\n      ta.style.top = '-9999px';\n      ta.style.left = '-9999px';\n      document.body.appendChild(ta);\n      ta.focus();\n      ta.select();\n      var ok = document.execCommand('copy');\n      document.body.removeChild(ta);\n      if (ok) showCopied();\n      else showCopyFailed();\n    } catch (e) {\n      showCopyFailed();\n    }\n  }\n\n  function showCopied() {\n    scope.copied = true;\n    scope.$applyAsync();\n    setTimeout(function() {\n      scope.copied = false;\n      scope.$applyAsync();\n    }, 1500);\n  }\n\n  function showCopyFailed() {\n    // briefly show a failure message (optional)\n    scope.copied = false;\n    scope.$applyAsync();\n    // you could add a visual failure state here if desired\n  }\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "183e62f0b5295ca8",
        "type": "ui_text_input",
        "z": "44cdabf9d1588c75",
        "name": "",
        "label": "Start",
        "tooltip": "Work start time",
        "group": "6447a39e5d789f8e",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "week",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 600,
        "wires": [
            [
                "b96369db7dfc9f36"
            ]
        ]
    },
    {
        "id": "b96369db7dfc9f36",
        "type": "change",
        "z": "44cdabf9d1588c75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 600,
        "wires": [
            [
                "4f9ebcfc33c5d2c2"
            ]
        ]
    },
    {
        "id": "f896a2b18472e0cf",
        "type": "ui_button",
        "z": "44cdabf9d1588c75",
        "name": "",
        "group": "6447a39e5d789f8e",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Generate Summary",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-magic",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 720,
        "wires": [
            [
                "00c8ae72af18f7a2"
            ]
        ]
    },
    {
        "id": "4f9ebcfc33c5d2c2",
        "type": "ui_text_input",
        "z": "44cdabf9d1588c75",
        "name": "",
        "label": "End",
        "tooltip": "Work end time",
        "group": "6447a39e5d789f8e",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "week",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 660,
        "wires": [
            [
                "c0df43d34fc59f96"
            ]
        ]
    },
    {
        "id": "c0df43d34fc59f96",
        "type": "change",
        "z": "44cdabf9d1588c75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "end",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "bfe788b47c9c83d3",
        "type": "function",
        "z": "44cdabf9d1588c75",
        "name": "setCurrentDate",
        "func": "msg.payload = new Date(new Date().getTime() + 2 * 60 * 60 * 1000)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 600,
        "wires": [
            [
                "183e62f0b5295ca8",
                "4f9ebcfc33c5d2c2"
            ]
        ]
    },
    {
        "id": "991d03e4328fe93b",
        "type": "inject",
        "z": "44cdabf9d1588c75",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "bfe788b47c9c83d3"
            ]
        ]
    },
    {
        "id": "d78be42c692ad9de",
        "type": "ui_button",
        "z": "44cdabf9d1588c75",
        "name": "",
        "group": "6447a39e5d789f8e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-trash",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "2edd1a9e348a6b0e"
            ]
        ]
    },
    {
        "id": "2edd1a9e348a6b0e",
        "type": "change",
        "z": "44cdabf9d1588c75",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 240,
        "wires": [
            [
                "b081aabb4c922c50"
            ]
        ]
    },
    {
        "id": "de7ec02da760dd79",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4",
            "node-red-dashboard": "3.6.6",
            "node-red-node-ui-table": "0.4.5"
        }
    }
]